### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea

### Project ###
.env
.env.pro
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
!**/src/main/**/target/
!**/src/test/**/target/
